# Gradle files and directories
.gradle/
build/
out/

# IDE related files
.idea/
*.iml

# OS related files
.DS_Store
Thumbs.db

# Git related files
.git
.gitignore

# Local environment Docker files
docker/

# Other unnecessary files
*.log
*.tmp
*.bak
*.md




